In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving adult.data.csv to adult.data.csv

In [ ]:
adult_data = pd.read_csv('adult.data.csv')

In [ ]:
adult_data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

1. Скільки бакалаврів та магістрів (ознака education) представлено в цьому наборі даних?

In [ ]:
adult_data.groupby('education').size()[['Bachelors', 'Masters']]

education
Bachelors    5355
Masters      1723
dtype: int64

2. Який середній вік громадян Сполучених Штатів Америки (ознака native-country)?

In [ ]:
adult_data[adult_data['native-country'] == 'United-States']['age'].mean()

38.65567363729859

3. Яка частка громадян Куби (ознака native-country)?

In [ ]:
adult_data[adult_data['native-country'] == 'Cuba'].shape[0] / adult_data.shape[0]

0.0029176008107859096

4. Які середні значення та середньоквадратичні відхилення віку для білої та чорної рас (ознака
race)?

In [ ]:
adult_data.groupby('race')['age'].agg([np.mean, np.std]).loc[['White', 'Black']]

            mean        std
race
White  38.769881  13.782306
Black  37.767926  12.759290

5. Чи правда, що громадяни Ямайки працюють не менше 40 годин на тиждень (ознака hours-per-
week)?

In [ ]:
(adult_data[adult_data['native-country'] == 'Jamaica']['hours-per-week'] >= 40).all()

False

6. Виведіть статистику годин на тиждень для кожної раси (ознака race) та зарплати (ознака
salary). Використовуйте groupby та describe. Знайдіть мінімальну кількість годин, яку
працюють люди раси Asian-Pac-Islander з високою зарплатнею (більше 50К).

In [ ]:
hours_data = adult_data.groupby(['race', 'salary'])['hours-per-week'].describe()
hours_data

                             count       mean        std  ...   50%   75%   max
race               salary                                 ...
Amer-Indian-Eskimo <=50K     275.0  39.410909  11.782482  ...  40.0  40.0  84.0
                   >50K       36.0  44.916667   9.854296  ...  40.0  50.0  70.0
Asian-Pac-Islander <=50K     763.0  38.425950  12.614856  ...  40.0  40.0  99.0
                   >50K      276.0  44.829710  11.134385  ...  40.0  50.0  99.0
Black              <=50K    2737.0  37.580197   9.957707  ...  40.0  40.0  99.0
                   >50K      387.0  44.382429  10.838834  ...  40.0  49.0  99.0
Other              <=50K     246.0  38.914634  11.173805  ...  40.0  40.0  98.0
                   >50K       25.0  44.920000   9.402659  ...  40.0  50.0  70.0
White              <=50K   20699.0  39.013624  12.597917  ...  40.0  40.0  99.0
                   >50K     7117.0  45.562035  11.026999  ...  42.0  50.0  99.0

[10 rows x 8 columns]

In [ ]:
hours_data.at[('Asian-Pac-Islander', '>50K'), 'min']

5.0

7. Серед кого більша частка з високою зарплатнею (>50K): серед людей з вищою освітою чи ні?
Люди з вищою освітою – ті, що мають ознаку education однією з таких: Bachelors, Prof-school,
Assoc-acdm, Assoc-voc, Masters, Doctorate.

In [ ]:
higher_education_types = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
adult_data['has_higher_education'] = adult_data['education'].isin(higher_education_types)

salary_data = adult_data.groupby(['has_higher_education', 'salary']).size()
higher_education, base_education = salary_data[True], salary_data[False]

higher_ed_part, base_ed_part = higher_education['>50K'] / higher_education.sum(), base_education['>50K'] / base_education.sum()
print('З вищою освітою' if higher_ed_part > base_ed_part else 'З базовою освітою')

З вищою освітою

8. Який мінімальний вік людей з цього набору даних? Скільки людей цього віку та який серед
них відсоток жінок, які заробляють більше 50К?

In [ ]:
min_age = adult_data['age'].min()
min_age

17

In [ ]:
min_age_data = adult_data[adult_data['age'] == min_age]
min_age_count = min_age_data.shape[0]
min_age_count

395

In [ ]:
min_age_data[(min_age_data['sex'] == 'Female') & (min_age_data['salary'] == '>50K')].shape[0] / min_age_count

0.0

9. Порахуйте середньоквадратичне відхилення чоловіків та жінок для кожного значення ознаки
relationship.

In [ ]:
adult_data.groupby(['relationship', 'sex'])['age'].agg(np.std)

relationship    sex
Husband         Female          NaN
                Male      12.024501
Not-in-family   Female    15.033271
                Male      12.546099
Other-relative  Female    16.091400
                Male      11.803060
Own-child       Female     8.375150
                Male       7.901183
Unmarried       Female    11.366622
                Male      12.297476
Wife            Female    11.231101
                Male       4.949747
Name: age, dtype: float64